@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  scroll-behavior: smooth;
}

*::selection {
  color: #d7cccc;
  background-color: #4d4d5d;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: rgb(212, 201, 201);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(20, 19, 19, 0.682);
  border-radius: 15px;
}

.wraper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.logo {
  width: 80px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  margin-left: -1.2rem;
  font-size: 28px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 4em;
}

.nav-items div {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.nav-items div a {
  color: #000;
}

a {
  text-decoration: none;
}

.nav-items div:hover {
  transition: 0.8s;
  font-weight: bold;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  gap: 5rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
}

.faded-text {
  position: absolute;
  user-select: none;
  font-size: 7em;
  color: rgb(231, 231, 231);

  bottom: -16%;
  left: -5%;
  font-weight: bold;
  transition: all 3s;
}

.hero-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.hero-section-heading {
  font-size: 3.2vw;
  color: #343d68;
  font-weight: 500;
}

.role {
  color: #4e45d5;
  font-weight: 900;
}

.hero-section-description {
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
}

.btn-pink {
  background-color: red;
  width: fit-content;
  color: white;
  padding: 0.8rem 2.3rem;
  box-shadow: 5px 5px 7px 0px #0000003f;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
}

.btn-pink::before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}

.btn-pink:hover::before {
  transform: scaleX(1);
}

.btn-pink:hover {
  border: solid 3px red;
  color: black;
}

.hero-section-right {
  position: relative;
}

.absolute {
  position: absolute;
}

.user-image {
  object-fit: cover;
  padding: 2.5rem;
  filter: grayscale(1);
  transition: all 1s;
  animation: scaleimage 5s linear infinite;
}
.user {
  width: 18vw;
  height: 43vh;
}

.user-image img {
  z-index: -9;
}

@keyframes scaleimage {
  0% {
    transform: scale(1);
    filter: grayscale(0);
  }

  50% {
    filter: grayscale(1);
    transform: scale(1.1);
    box-shadow: 3px 3px 11px #000;
  }

  100% {
    filter: grayscale(0);
    transform: scale(1);
  }
}

.icon-dots {
  z-index: 9;
  bottom: -1rem;
  right: 0;
  animation: imgdots 5s infinite;
}

@keyframes imgdots {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-27px);
  }

  100% {
    transform: translateY(0px);
  }
}

.icon-cube {
  z-index: 9;
  top: -0.8em;
  right: 1em;
  animation: imgcube 3s infinite;
}

@keyframes imgcube {
  0% {
    transform: translateY(0px);
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg) translateY(-12px);
  }

  100% {
    transform: translateY(0px);
    transform: rotateY(0deg);
  }
}

.icon-circle {
  z-index: 9;
  left: 0;
  bottom: 0;
  animation: imgcircle 6s linear infinite;
}

@keyframes imgcircle {
  50% {
    left: 5%;
    bottom: 10%;
  }
}

.icon-zigzag {
  z-index: 6;
  left: -0.3em;
  animation: zigzagAnimation 5s ease-in infinite;
}

@keyframes zigzagAnimation {
  50% {
    left: 5%;
    top: 2%;
  }
}

.icon-plus {
  z-index: 9;
  top: -0.8rem;
  left: 50%;
  animation: shakeEffectPlus 5s ease-in infinite;
}

@keyframes shakeEffectPlus {
  50% {
    top: 2%;
    left: 50%;
  }
}

.project-section {
  background-color: rgb(231, 231, 231);
  margin-top: 4rem;
}

.page-header {
  font-size: 90px;
  text-align: center;
  padding-top: 30px;
  color: rgba(255, 0, 0, 0.648);
}

.project-container {
  display: flex;
  flex-direction: column;
  gap: 120px;

  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
}

.project-card {
  width: 90%;
  height: 550px;
  background-size: cover;
  position: relative;
  box-shadow: 0px 0px 40px #1f1f1f;
}

.project-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #1f1f1f9a;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.4s;
  z-index: 1;
}

.project-card:hover::before {
  transform: scaleX(1);
}

.project-number {
  position: absolute;
  font-size: 200px;
  font-weight: 600;
  color: #fff;
  z-index: 11;
  opacity: 0;
}

.project-card:hover .project-number {
  opacity: 1;
}

.project-number {
  right: -40px;
  top: -45px;
}

.project-number-left {
  left: -40px;
  top: -45px;
}

.project-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2em;
  bottom: 20%;
  z-index: 5;
  gap: 1rem;
  transition: all 0.4s;
}

.project-content-left {
  left: 10%;
}

.project-content-right {
  right: 10%;
}

.project-skills-container {
  width: 60%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.project-skill {
  width: 40px;
}
.project-heading {
  font-size: 45px;
  font-weight: bold;
  line-height: 3rem;
}
.project-subHeading {
  width: 70%;
  font-size: 13px;
  font-style: italic;
}
.btn-grp {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}
.btn-project:hover {
  border: none;
}
.icon {
  cursor: pointer;
  color: white;
  font-size: 35px;
  transition: all 0.4s;
}
.icon:hover {
  color: rgba(255, 0, 0, 0.648);
}

.project-card:hover .project-content {
  transform: scale(1.1);
}
#project1 {
  background-image: url(./images/projects/Project1.png);
  cursor: pointer;
}
.project-card a {
  color: white;
}
#project2 {
  margin-left: 140px;
  background-image: url(./images/projects/Project2.png);
  cursor: pointer;
}

#project3 {
  margin-left: 120px;
  cursor: pointer;
}
.project-video {
  object-fit: cover;
  background-position: center;
  width: 70.3vw;
  height: 75.2vh;
}
project-video
@media (max-width: 1300px) {
  .page-header {
    font-size: 8vw;
    text-align: center;
    padding-top: 30px;
  }
  .project-number {
    display: none;
  }
  .project-container {
    padding: 5px;
    margin: 10px;
    gap: 60px;
  }

  .project-card {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
  }
  #project2 {
    margin-left: -2px;
  }
  #project4 {
    margin-left: -2px;
  }

  .project-skill-container {
    width: 100%;
    /* transform: scale(0); */
  }
  .project-skill {
    width: 3.3vw;
    padding-bottom: -32px;
  }
  .project-card:hover .project-content {
    scale: (0.55);
  }
  .project-heading {
    font-size: 20px;
  }
  .project-content-left {
    padding: 18px 10px;
  }
  .project-subHeading {
    font-size: 10px;
  }
}
.skills-container {
  position: relative;
  display: flex;
  padding: 5rem;
  margin: 10rem auto;
  gap: 30px;
}
.skills-container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.skill-container-right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 2rem;
  justify-content: center;
}
.skill-fade-text {
  position: absolute;
  color: rgb(231, 231, 231);
  font-size: 15em;
  font-style: bold;
  bottom: -35%;
  right: -15%;
  user-select: none;
  overflow-y: hidden;
}
.blob-style {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -5;
  transform: translate(-50%, -50%);
  animation: blobAnimate 3s linear infinite;
}

@keyframes blobAnimate {
  50% {
    top: 54%;
    left: 46%;
  }
}
.skills-logo {
  width: 90px;
  transition: all 0.5s;
}

.skills-logo:hover {
  transform: scale(1.2);
}
.skill-heading {
  font-size: 50px;
  font-style: bold;
  color: rgba(255, 0, 0, 0.648);
  line-height: 50px;
}
.caps {
  font-size: 90px;
}

.skills-sub {
  margin-top: 1rem;
  width: 85%;
  text-align: justify;
  line-height: 150%;
}
.skills-sub p {
  margin: 12px 0px;
}
.contactUs-container {
  background-color: rgb(231, 231, 231);
  width: 100%;
  height: 90vh;
  position: relative;
}
.contact_left {
  position: absolute;
  left: 10%;
}
.contact_right {
  position: absolute;
  top: 20%;
  right: 10%;
}
.contact-heading {
  margin: 40px 30px;
}

.first-heading {
  color: rgba(255, 0, 0, 0.648);
  font-size: 3vw;
  font-weight: 600;
}
.sub-heading {
  color: #343d68aa;
  font-size: 2vw;
  font-weight: bold;
}
.contact-inbox {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 1vw;
  border: none;
  margin-top: 2vw;
}
#name {
  box-shadow: 0px 1px 5px #1f1f1f;
  padding: 12px;
}
#email {
  box-shadow: 0px 1px 5px #1f1f1f;
  padding: 12px;
}
#subject {
  box-shadow: 0px 1px 5px #1f1f1f;
  padding: 12px;
}
#Textarea1 {
  box-shadow: 0px 1px 5px #1f1f1f;
  padding: 12px;
}
#btn {
  border: none;
  font-weight: bold;
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#btn:hover {
  color: #343d68;
}
.icon {
  width: 2vw;
  color: #343d68;
}

footer {
  position: relative;
  margin-top: -1px;
  background-color: #343d68;
  padding: 5rem;
  overflow: hidden;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.2rem;
  align-items: end;
}
.footer-faded-text {
  position: absolute;
  left: 0;
  bottom: -8%;
  color: #535c87;
  user-select: none;
  font-size: 5em;
}
.link-wrapper {
  display: flex;
  gap: 12px;
  text-decoration: none;
}
.link-wrapper div a {
  color: #fff;
  transition: all 0.3s;
}
.link-wrapper div a:hover {
  color: rgba(255, 0, 0, 0.648);
}
.icon-wrapper {
  display: flex;
  gap: 3vw;
  font-size: 2vw;
 
}
.icon-wrapper i {
  transition: all 0.3s;
  background-color: #868fb9e1;
  border-radius: 5px;
}
.icon-wrapper i:hover {
  color: #fff;
}
.footer-push {
  width: 30vw;
  height: 10vh;
}
.footer-push p {
  font-size: 4vw;
  font-weight: 700;
  color: skyblue;
  text-decoration: none;
}
.footer-push h2 {
  font-family: "Gilroy";
  font-weight: 500;
  color: #707695;
}
